<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h1>Welcome to Admin Dashboard</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis magnam
        placeat excepturi alias pariatur exercitationem fugiat cum eius aliquid
        nulla animi assumenda facere cumque tenetur, molestiae fuga perspiciatis
        architecto, quidem beatae temporibus, quibusdam quaerat modi. Voluptatum
        aut cumque provident blanditiis nesciunt eaque dolores qui suscipit
        voluptates. Nisi eligendi unde doloribus.
      </p>
      <button class="btn btn-danger">Start adding products</button>
    </div>
  </div>
</div>
