<div class="container">
    <div class="row">
      <div class="col-md-12">
       
        <div class="card border-0 shadow-sm">
          <div class="card-header">
            <h3 class="">Update product here</h3>
          </div>
          <div class="card-body">
            <form action="">
              <div class="my-3">
                <label for="productName">Product name</label>
                <input
                  id="productName"
                  type="text"
                  class="form-control"
                  placeholder="Enter product title"
                />
              </div>
              <div class="my-3">
                <label for="productName">Product name</label>
                <textarea
                  style="height: 250px"
                  class="form-control"
                  placeholder="Enter product here"
                ></textarea>
              </div>
  
              <div class="my-3">
                <label for="productName">Product price</label>
                <input
                  id="productName"
                  type="text"
                  class="form-control"
                  placeholder="Enter product price"
                />
              </div>
              <div class="my-3">
                <label for="productQuantity">Product Quantity</label>
                <input
                  id="productQuantity"
                  type="text"
                  class="form-control"
                  placeholder="Enter product qantity"
                />
              </div>
  
              <div class="form-group form-check mx-2">
                <input type="checkbox" class="form-check-input" id="live" />
                <label class="form-check-label" for="live">Live</label>
              </div>
              <div class="form-group form-check mx-2">
                <input type="checkbox" class="form-check-input" id="stock" />
                <label class="form-check-label" for="stock"
                  >Product is in stock</label
                >
              </div>
  
              <div class="form-group my-3">
                <label for="file">Choose Product banner</label>
                <br />
                <input type="file" class="form-control-file" id="file" />
              </div>
  
              <div class="form-group">
                   <label for="category">Select Category</label>
                  <select name="category" id="category" class="form-control">
                      <option value="">Electronics</option>
                      <option value="">Sports</option>
                      <option value="">Phones</option>
                      <option value="">Labopts</option>
                  </select>
              </div>
  
              <div class="container text-center mt-3">
                  <button class="btn-success btn">Add Product</button>
                  <button class="btn-warning btn ms-2">Reset Product Detail</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  