<div class="container">
  <div class="row">
    <!-- 12 grids -->

    <div class="col-md-6 offset-md-3">
      <div class="card mt-5 border border-0 shadow-sm">
        <div class="card-body">
          <div class="alert alert-danger" *ngIf="showErrorMessage">
            {{errorMessage}}
          </div>
          <h3 class="my-3">Login here</h3>

          <form action="" (ngSubmit)="submitLoginRequest($event)">

            <!-- email field  -->

            <div class="mb-3">
              <label for="name" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control rounded-0"
                id="username"
                name="username"
                aria-describedby="emailHelp"
                placeholder="Enter your username"
                [(ngModel)]="loginData.username"
              />
              
            </div>



            <!-- password  field  -->

            
            <div class="mb-3">
                <label for="password" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control rounded-0"
                  id="password"
                  name="password"
                  aria-describedby="emailHelp"
                  placeholder="Enter your password"
                  [(ngModel)]="loginData.password"
                />
                
              </div>

              <div class="container text-center">
                <button type="submit" class="btn btn-primary rounded-0">Login</button>
                <button class="btn btn-warning rounded-0 ms-2">Reset</button>
              </div>
  


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
