
<div class="container">
    <h1>I am home component</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi porro dolores quod delectus, ullam exercitationem non blanditiis incidunt. Officia, distinctio unde? Nisi perferendis exercitationem unde asperiores perspiciatis laudantium, aut quibusdam magni ut libero nam itaque vitae qui ullam consequatur cum tenetur inventore maxime ea esse et neque animi, reprehenderit quos.</p>
    <button class="btn btn-outline-danger" (click)="sayHello()">Click here</button>
</div>
