<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group border-0">
        <a
          routerLink="/admin-dashboard/"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        > Home</a
        >
        <a
          routerLink="/admin-dashboard/add-product"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >Add Product</a
        >
        <a
          routerLink="/admin-dashboard/products"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >View Products</a
        >
        <a
          routerLink="/admin-dashboard/update-product/12"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >Add Category</a
        >
        <a
          routerLink="/admin-dashboard/update-product/12"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >View Categories</a
        >
        <a
          routerLink="/admin-dashboard/manage-orders"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >Manage Orders</a
        >
        <a
          routerLink="/admin-dashboard/update-product/12"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >Manage User</a
        >
        <a
          routerLink="/admin-dashboard/update-product/12"
          class="list-group-item border-0 shadow-sm border-bottom list-group-item-action"
        >Logout</a
        >
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
